// Tailwind imports for base styles, components, and utilities
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Graphik';
  src: url('../../public/assets/fonts/Graphik-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../../public/assets/fonts/Graphik-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../../public/assets/fonts/Graphik-Light-Trial.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../../public/assets/fonts/Graphik-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Pangram Font */
@font-face {
  font-family: 'Pangram';
  src: url('../../public/assets/fonts/Pangram-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../../public/assets/fonts/Pangram-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../../public/assets/fonts/Pangram-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../../public/assets/fonts/Pangram-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // Equivalent to 10px for easier rem calculations
}

body {
  @apply bg-neutral-light text-neutral-dark antialiased max-h-screen overflow-hidden;
}

body, input, textarea, button {
  font-family: 'Lato', sans-serif; // Use Tailwind utility classes if needed
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p, span, a {
  font-size: 1.6rem;
}

a {
  @apply text-success-dark no-underline cursor-pointer;
}

button {
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;

    &:hover {
      filter: brightness(1);
    }
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-scrolling {
  overflow: hidden;
}


.ReactQueryDevtools, .ReactQueryDevtoolsPanel, .ReactQueryDevtools button {
  position: fixed;
  right: 0 !important;
  bottom: 5rem !important;
  left: unset !important;
}
