// Tailwind imports for base styles, components, and utilities
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom fonts */
@font-face {
  font-family: 'Graphik';
  src: url('../../public/assets/fonts/Graphik-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../../public/assets/fonts/Graphik-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../../public/assets/fonts/Graphik-Light-Trial.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../../public/assets/fonts/Graphik-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Pangram Font */
@font-face {
  font-family: 'Pangram';
  src: url('../../public/assets/fonts/Pangram-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../../public/assets/fonts/Pangram-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../../public/assets/fonts/Pangram-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('../../public/assets/fonts/Pangram-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Global resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
html {
  font-size: 62.5%;
}

body {
  @apply bg-neutral-white text-neutral-dark antialiased max-h-screen overflow-hidden;
  font-family: 'Graphik', sans-serif;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Graphik', sans-serif;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  font-family: 'Pangram', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

span, a {
  font-family: 'Pangram', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  @apply text-success-dark no-underline cursor-pointer;
  transition: color 0.3s;

  &:hover {
    color: #009688;
  }
}

/* Buttons */
button {
  font-family: 'Graphik', sans-serif;
  font-weight: 500;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;

    &:hover {
      filter: brightness(1);
    }
  }
}

/* Forms */
input, textarea {
  font-family: 'Pangram', sans-serif;
  font-weight: 400;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
